@model List<Sklep.Models.ZamowieniaGoscie>

@{
    ViewBag.Title = "CheckOrders";
}

<h2>Orders</h2>

@if (Model != null && Model.Any())
{
    foreach (var order in Model)
    {
        <div class="order-container">
            <div class="form-group">
                <label for="Id">Id zamówienia: @order.Id</label>
            </div>
            <div class="form-group">
                <label for="Imie">Imie: @order.Imie</label>
            </div>
            <div class="form-group">
                <label for="Nazwisko">Nazwisko: @order.Nazwisko</label> 
            </div>
            <div class="form-group">
                <label for="Adres">Adres: @order.Adres</label> 
            </div>
            <div class="form-group">
                <label for="Phone">Phone: @order.Phone</label> 
            </div>
            <div class="form-group">
                <label for="AdresEmail">Adres Email: @order.AdresEmail</label> 
            </div>
            <div class="form-group">
                <label for="Status">Status: @order.status</label>
            </div>
            <div class="form-group">
                <label for="Kwota">Kwota: @order.kwota</label>
            </div>

            <hr />
        </div>
    }
}
else
{
    <p>No orders found.</p>
}

@ViewBag.Message
