
@{
    ViewBag.Title = "Details";
}


<style>
    #contentDetails {
        display: grid;
        justify-items: center;
        width: 100%;
        height: 100%;
        align-items: flex-start;
        padding-top: 50px;
    }

    .backBtn {
        display: grid;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #FC6D84;
        font-size: 16px;
        cursor: pointer;
        transition: 0.1s;
        width: max-content;
        grid-template-columns: max-content max-content;
        grid-column-gap: 5px;
    }
    .cont {
        width: 60%;
        display: grid;
        justify-items: left;
    }
    .contentProduct {
        background-color: #fff;
        box-shadow: rgba(0,0,0,0.25) 0px 0px 3px 1px;
        border-radius: 5px;
        width: 100%;
        display: grid;
        padding: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .backBtn > a {
        color: #fff;
        text-decoration: none;
    }

    .backBtn:hover {
        padding: 7px 20px 13px 20px;
        transition: 0.1s;
    }
    .CategoryName{
        color: #787878;
    }
    .sectionMain{
        display: grid;
        width: 100%;
        grid-template-columns: 10fr min-content 20fr 15fr;
        place-items: flex-start;
        grid-column-gap: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .picture {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        place-items: flex-start;
        justify-items: center;
    }
    .informaction {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        place-items: flex-start;
        justify-items: center;
    }
    .buySection {
        display: grid;
        width: 100%;
        height: 80%;
        grid-template-columns: 1fr;
        grid-template-rows: 80% 20%;
        place-items: flex-start;
        justify-items: right;
    }
    .verticalLine{
        background-color: #eeeeed;
        height: 80%;
        margin-top: 10%;
        width: 1px;
        margin-left: 30px;
        margin-right: 30px;
        content: '';
    }
    .buyButton {
        display: grid;
        color: #fff;
        text-decoration: none;
        padding: 10px 40px;
        border-radius: 5px;
        background-color: #FC6D84;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        transition: 0.1s;
        width: max-content;
    }
    .sectionDescription{
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
    }
    .descriptionSection{
        width: 100%;
        font-weight: 400;
        font-family: Roboto;
        text-align: left;
        font-size: 18px;
        color: #000;
        text-indent: 10px;
        white-space: normal;
    }
    .sectionTechnicalData {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
    }
    .sectionComents {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
    }
    .contentSection{
        display: grid;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        grid-template-columns: 100%;
        grid-row-gap: 20px;
        justify-items: center;
        align-items: flex-start;
        padding-top: 30px;
    }
    .technicalTable{
        width: min-content;

    }
        .technicalTable > tbody > tr {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-left: 20px;
            padding-right: 20px;
        }
        .technicalTable > tbody > tr > th {
            width: max-content;
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .technicalTable > tbody > tr:nth-of-type(even){
            background-color: #EDEDED;
        }
        .technicalTable > tbody > tr:nth-of-type(odd) {
            background-color: #F7F7F7;
        }
            .technicalTable > tbody > tr > td {
                display: grid;
                justify-items: center;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        .grayBtn{
            background-color: #eeeeed;
            width: 14px;
            height: 14px;
            display: grid;
            place-items: center;
            border-radius: 50%;
            content: '';
            cursor: pointer;
        }
            .grayBtn[selected] > .innerBtn {
                background-color: #FC6D84;
            }
        .innerBtn {
        background-color: #eeeeed;
        width: 8px;
        height: 8px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        content: '';
    }
    .changeButtons{
        display: inline-grid;
        grid-template-columns: min-content min-content min-content;
        grid-column-gap: 10px;
        padding-bottom: 50px;
    }
    .comment{
        width: 60%;
        background-color: #eeeeed;
        border-radius: 5px;
        padding: 20px;
        display: grid;
        justify-items: flex-start;
        align-items: flex-start;
    }
</style>
<script>
    $(document).ready(function () {
        $.ajaxSetup({
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
            }
        });
        $(".buyButton").click(function (event) {
            var productData = {
                ProduktId: @ViewBag.produkt.Id,
                Liczba: 1
            };

            $.ajax({
                type: "POST",
                url: "/Busket/Add",
                data: JSON.stringify(productData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    alert(result.message);
                }
            });
        });
    });
</script>
<content id="contentDetails">
    <div class="cont">
        <div class="backBtn">
            <svg width="20px" height="20px" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="m5.828 6.997 2.536 2.536-1.414 1.414L2 5.997l4.95-4.95L8.364 2.46 5.828 4.997H13a8 8 0 0 1 0 16H4v-2h9a6 6 0 0 0 0-12H5.828Z"></path>
            </svg>
            <a href="/Product/Products" style="text-decoration: none; color: #fff;">Wróć do wyszukiwania</a>
        </div>
        <div class="contentProduct">
            <div class="sectionMain">
                <div class="picture">
                    <img style="width: 30vh; height:30vh;" src="@ViewBag.produkt.ImageUrl" />
                    <div class="changeButtons">
                        <div class="grayBtn" selected><div class="innerBtn"></div></div>
                        <div class="grayBtn"><div class="innerBtn"></div></div>
                        <div class="grayBtn"><div class="innerBtn"></div></div>
                    </div>
                </div>
                <div class="verticalLine"></div>
                <div class="information">
                    <h3 class="ProductName">@ViewBag.produkt.Name</h3>
                    <h5 class="CategoryName">@ViewBag.produkt.CategoryName</h5>
                </div>
                <div class="buySection">
                    <div>
                        <h3>Cena brutto: <strong>@{@ViewBag.produkt.BruttoPrice}zł/szt.</strong></h3>
                        <h5>Cena netto: <strong>@{@ViewBag.produkt.NettoPrice}zł/szt.</strong></h5>
                    </div>
                    <div>
                        <div class="buyButton">
                            Do koszyka
                        </div>
                        <h6>Pozostało @ViewBag.produkt.StoreCount sztuk</h6>
                    </div>
                    
                </div>
            </div>
            <div class="sectionDescription">
                <h3 style="padding-left: 20px;"><strong>Opis</strong></h3>
                <hr />
                <div class="contentSection">
                    @{
                        foreach (var o in ViewBag.opis)
                        {
                            <div class="descriptionSection">@o.Opis</div>
                        }
                    }
                </div>

            </div>
            <div class="sectionTechnicalData">
                <h3 style="padding-left: 20px;"><strong>Dane techniczne</strong></h3>
                <hr />
                <div class="contentSection">

                    <table class="technicalTable">
                        <tr><th>Paramter</th><th>Wartość</th></tr>
                        @{
                            foreach (var p in ViewBag.parametry)
                            {
                                <tr><td>@p.Nazwa</td><td>@p.Wartosc</td></tr>
                            }
                        }
                    </table>

                </div>
            </div>
            <div class="sectionComents">
                <h3 style="padding-left: 20px;"><strong>Oceny i komentarze</strong> </h3>
                <hr />
                <div class="contentSection">
                    <div class="buyButton">Dodaj komentarz</div>
                    @{ 
                        foreach(var o in ViewBag.opinie)
                        {<div class="comment"><h5 style="color: #767676">@o.UserName</h5><p>@o.Content</p></div>}
                    }


                </div>
            </div>
            <a href="/Product/GetProductPdf/@ViewBag.produkt.Id">
                Pobierz plik pdf
            </a>
        </div>
    </div>
    
</content>



